body {
  background-image: linear-gradient(
    to right,
    #fffdc2,
    #fffdc2 15%,
    #d7f0a2 15%,
    #d7f0a2 85%,
    #fffdc2 85%
  );
}
.img-thumbnail:hover {
  background-color: #d7f0a2;
  border: solid 1px #d7f0a2;
  border-radius: 20%;
}
